.first_img{
    width: 100%;
    margin-bottom: 5px;
}
.title1{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
}
.author1{
    
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 13px;
}
.stats1{
    margin-top: 5px;
    font-size: 13px;
}
.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.logo1{
    width: 36px;
    object-fit: contain;
    margin-top: 13px;
    border-radius: 100%;
    
    
}
.logo1-placement{
    display: inline-block;
    width: 50px;
    vertical-align: top;
    
}
.video-detail{
    display: inline-block;
    vertical-align: top; 
      width: 100%;
}
.first_imgfully{
    margin-bottom: 5px;
    position: relative;
}
.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 35px;

}
@media  (max-width: 750px)
{
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}
    

/*.video-timing{
    background-color: black;
    color: white;
    position: absolute;
    left: 400px;
    top: 254px;
    font-size: 12px;
    font-weight: 500px;
    font-family: arial;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 2px;
}
.video-timing1{
    background-color: black;
    color: white;
    position: absolute;
    left: 307px;
    top: 170px;
    font-size: 12px;
    font-weight: 500px;
    font-family: arial;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 2px;
}
*/